/* @tailwind base; */
@tailwind components;
@tailwind utilities;

/* Initialize Tailwind CSS variables for transforms since base is disabled */
*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
}

[x-cloak] {
    display: none;
}
